body{

font-family:Arial;
background:#f2f2f2;
margin:0;

}

header{

background:#0b6b2e;
color:white;
text-align:center;
padding:20px;

}

.container{

width:600px;
margin:auto;
background:white;
padding:30px;

}

input,select{

width:100%;
padding:10px;
margin-top:10px;
margin-bottom:10px;

}

.produto{

border:1px solid #ddd;
padding:15px;
margin-bottom:15px;

}

button{

background:#f1c40f;
border:none;
padding:15px;
font-size:18px;
width:100%;
cursor:pointer;

}

.aviso{

color:red;

}
